
:root {
    --colorForegroundNeutralFaded: #606981;    
    --colorForegroundPlaceholder: #7f8694;    
    --colorBackgroundNeutralHighlighted: #182d6614;    
    --colorBackgroundPageFaded: #fafafa;    
    --colorBackgroundCritical: #e22c2c;    
    --colorBackgroundPositive: #118850;    
    --colorBackgroundBlur: #fffffff2;    
    --colorBackgroundBlurNeutral: #f4f5f7f2;    
    --colorBackgroundBlurNeutralHighlighted: #ecedf0f2;    
    --colorBorderNeutralFaded: #eceef3;    
    --colorBorderCriticalFaded: #fbd5d8;    
    --colorBorderPositiveFaded: #cdedd5;    
    --colorBorderUpgradeFaded: #e3dbfa;    
    --colorBorderDisabled: #dfe2ea;    
    --colorBorderFocus: #4589ff;    
    --colorDecorativeCyanForeground: #0e7490;    
    --colorDecorativeCyanBackground: #d5fbfe;    
    --colorDecorativeCyanBorder: #baf0f4;    
    --colorDecorativeFuchsiaForeground: #b725cb;    
    --colorDecorativeFuchsiaBackground: #fcf0ff;    
    --colorDecorativeFuchsiaBorder: #f5dcfa;    
    --colorDecorativeGreenBorder: #bef9e0;    
    --colorDecorativeGreyForeground: #4e536a;    
    --colorDecorativeGreyBackground: #edeff3;    
    --colorDecorativeGreyBorder: #e1e4eb;    
    --colorDecorativeLightGreyForeground: #68718d;    
    --colorDecorativeLightGreyBackground: #f6f7f9;    
    --colorDecorativeLightGreyBorder: #edeff3;    
    --colorDecorativeOrangeForeground: #c2410c;    
    --colorDecorativeOrangeBackground: #fff2e1;    
    --colorDecorativeOrangeBorder: #fbe7cc;    
    --colorDecorativePinkForeground: #d12372;    
    --colorDecorativePinkBackground: #fdf0f7;    
    --colorDecorativePurpleBorder: #ebe4ff;    
    --colorDecorativePinkBorder: #ffe4f3;    
    --colorDecorativeRedBorder: #ffe9ea;    
    --colorDecorativeTealForeground: #107a71;    
    --colorDecorativeTealBackground: #e2fff8;    
    --colorDecorativeTealBorder: #ccf8ee;    
    --colorDecorativeYellowForeground: #a16207;    
    --colorDecorativeYellowBackground: #fffde7;    
    --colorDecorativeYellowBorder: #fef9c3;    
    --colorPrimaryPrimary200: #edf5ff;    
    --colorPrimaryPrimary400: #d0e2ff;    
    --colorPrimaryPrimary500: #8cb4ff;    
    --colorPrimaryPrimary600: #0f62fe;    
    --colorPrimaryPrimary700: #004ee1;    
    --colorPrimaryPrimary800: #104fc6;    
    --colorRedRed100: #fef1f2;    
    --colorRedRed600: #cb101d;    
    --colorColorWhite: #ffffff;    
    --colorNeutralNeutral100Opaque_: #141a2b05;    
    --colorNeutralNeutral200Opaque_: #182d660a;    
    --colorNeutralNeutral400: #606981;    
    --colorNeutralNeutral500: #c7cddb;    
    --colorNeutralNeutral900: #14171f;    
    --colorGreenGreen100: #ebfef6;    
    --colorGreenGreen600: #05751f;    
    --colorPurplePurple100: #f5f2fd;    
    --colorPurplePurple600: #874ce6;    
    --colorPurplePurple700: #6a2bbf;    
    --colorOrangeOrange100: #fef8eb;    
    --colorOrangeOrange200: #fbe5c5;    
    --colorOrangeOrange500: #cc4d00;    
    --colorOrangeOrange600: #b53c0a;    
    --colorForegroundNeutral: var(--colorNeutralNeutral900);    
    --colorForegroundPrimary: var(--colorPrimaryPrimary800);    
    --colorForegroundCritical: var(--colorRedRed600);    
    --colorForegroundWarning: var(--colorOrangeOrange600);    
    --colorForegroundPositive: var(--colorGreenGreen600);    
    --colorForegroundUpgrade: var(--colorPurplePurple600);    
    --colorForegroundDisabled: var(--colorNeutralNeutral500);    
    --colorBackgroundElevationBase: var(--colorColorWhite);    
    --colorBackgroundElevationRaised: var(--colorColorWhite);    
    --colorBackgroundElevationOverlay: var(--colorColorWhite);    
    --colorBackgroundNeutral: var(--colorNeutralNeutral200Opaque_);    
    --colorBackgroundNeutralFaded: var(--colorNeutralNeutral100Opaque_);    
    --colorBackgroundPage: var(--colorColorWhite);    
    --colorBackgroundPrimary: var(--colorPrimaryPrimary800);    
    --colorBackgroundPrimaryHighlighted: var(--colorPrimaryPrimary700);    
    --colorBackgroundPrimaryFaded: var(--colorPrimaryPrimary200);    
    --colorBackgroundCriticalHighlighted: var(--colorRedRed600);    
    --colorBackgroundCriticalFaded: var(--colorRedRed100);    
    --colorBackgroundWarning: var(--colorOrangeOrange500);    
    --colorBackgroundWarningHighlighted: var(--colorOrangeOrange600);    
    --colorBackgroundWarningFaded: var(--colorOrangeOrange100);    
    --colorBackgroundPositiveHighlighted: var(--colorGreenGreen600);    
    --colorBackgroundPositiveFaded: var(--colorGreenGreen100);    
    --colorBackgroundUpgrade: var(--colorPurplePurple600);    
    --colorBackgroundUpgradeHighlighted: var(--colorPurplePurple700);    
    --colorBackgroundUpgradeFaded: var(--colorPurplePurple100);    
    --colorBackgroundDisabled: var(--colorNeutralNeutral200Opaque_);    
    --colorBackgroundDisabledFaded: var(--colorNeutralNeutral100Opaque_);    
    --colorBackgroundFocusHighlight: var(--colorPrimaryPrimary400);    
    --colorBorderNeutral: var(--colorNeutralNeutral500);    
    --colorBorderPrimary: var(--colorPrimaryPrimary700);    
    --colorBorderPrimaryFaded: var(--colorPrimaryPrimary400);    
    --colorBorderCritical: var(--colorRedRed600);    
    --colorBorderWarning: var(--colorOrangeOrange600);    
    --colorBorderWarningFaded: var(--colorOrangeOrange200);    
    --colorBorderPositive: var(--colorGreenGreen600);    
    --colorBorderUpgrade: var(--colorPurplePurple700);    
    --colorBorderFocusFaded: var(--colorPrimaryPrimary400);    
    --colorOnBackgroundNeutral: var(--colorNeutralNeutral900);    
    --colorPersistentBlack: var(--colorNeutralNeutral900);    
    --colorDecorativeBlueForeground: var(--colorPrimaryPrimary600);    
    --colorDecorativeBlueBackground: var(--colorPrimaryPrimary200);    
    --colorDecorativeBlueBorder: var(--colorPrimaryPrimary400);    
    --colorDecorativeGreenForeground: var(--colorGreenGreen600);    
    --colorDecorativeGreenBackground: var(--colorGreenGreen100);    
    --colorOnBackgroundPrimary: var(--colorColorWhite);    
    --colorOnBackgroundCritical: var(--colorColorWhite);    
    --colorOnBackgroundWarning: var(--colorColorWhite);    
    --colorOnBackgroundPositive: var(--colorColorWhite);    
    --colorOnBackgroundUpgrade: var(--colorColorWhite);    
    --colorPersistentWhite: var(--colorColorWhite);    
    --colorDecorativePurpleForeground: var(--colorPurplePurple600);    
    --colorDecorativePurpleBackground: var(--colorPurplePurple100);    
    --colorDecorativeRedForeground: var(--colorRedRed600);    
    --colorDecorativeRedBackground: var(--colorRedRed100);    
}